.container {
	max-width: 1024px;
	text-align: center;
	margin: 20px auto;
}

h1 {
	margin-bottom: 20px;
}

#password-reset-form {
	margin: 40px auto 60px;
}

#username {
	border-radius: 3px;
}

#new-password {
	border-radius: 3px;
}
#confirm-password {
	border-radius: 3px;
}

#submit-button {
	width: 100%;
	border-radius: 3px;
}

#warning-label {
	width: 100%;
	background-color: #00b6b9;
}

.input-group {
	margin-left: 4%;
}
