@font-face {
  font-family: 'OpenSans-Regular';
  src: url('OpenSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('OpenSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('OpenSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('OpenSans-Regular.svg') format('svg'); /* Legacy iOS */
}

.container {
	max-width: 1024px;
	text-align: center;
	min-height: 100%;
}

h1 {
	margin-bottom: 20px;
}

#password-reset-form {
	margin: 40px auto 60px;
}

#username {
	border-radius: 3px;
}

#new-password {
	border-radius: 3px;
}
#confirm-password {
	border-radius: 3px;
}

#submit-button {
	width: 100%;
	border-radius: 3px;
}

#warning-label {
	width: 100%;
	background-color: #00787a;
}

.input-group {
	margin-left: 4%;
}

.color-background {
	background: #00b6b9;
}

.navbar-default {
	background-color: #00787a;
	height: 50px;
}

body {
	min-height: 100%;
	padding-top: 50px;
}

.nav-pills > li {
	padding-top: 10px;
	font-family: 'OpenSans-Regular', Fallback, sans-serif;
}

.nav-pills > li > a {
	color: #ffffff;
	font-family: 'OpenSans-Regular', Fallback, sans-serif;
}

.nav-pills > li > a:hover, .nav-pills > li > a:hover.active {
	background-color: #ffffff;
	color: #00b6b9;
}

.nav-pills  > li > a.active {
	background-color: #ffffff;
	color: #00787a;
}


.nav-pills > li > a:active {
	background-color: #0b0b0b;
	color: #ffffff;
}

.page-header {
	font-family: 'OpenSans-Regular', Fallback, sans-serif;
}

.navbar-toggle, .navbar-toggle:focus, .navbar-toggle.collapsed, .navbar-toggle-collapsed:focus {
	background-color: #ffffff;
	border-color: #ffffff;
}

.navbar-toggle:hover, .navbar-toggle.collapsed:hover {
	background-color: #f2f2f2;
	border-color: #f2f2f2;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #00787a;
}

.jumbotron {
	background-color: #00b6b9;
	color: #ffffff;
	font-family: 'OpenSans-Regular', Fallback, sans-serif;
	min-height: 100%;
	height:auto !important;
}

#screenshotCarousel {
	background-color: #b5b5b5;
}

.carousel-image {
	padding-top: 20px;
	margin: auto;
	height: 667px;
	width: 375px;
	padding-bottom: 160px;
}
