@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/OpenSans-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/OpenSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/OpenSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/OpenSans-Regular.svg') format('svg'); /* Legacy iOS */
}

.color-background {
	background: #00b6b9;
}

.navbar {
	background-color: #00787a;
  border-bottom-style: none;
}

.navbar-brand {
  padding: 10px;
}

.nav-pills > li {
  padding: 10px;
}

.nav-pills > li > a {
  color: #ffffff;
  font-family: 'OpenSans-Regular', Fallback, sans-serif;
}

.nav-pills > li > a:hover {
  background-color: #ffffff;
  color: #00787a;
}

.nav-pills > li > a:focus {
  color: #00787a;
}

.navbar-toggle {
  background-color: #ffffff;
	border-color: #ffffff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #00787a;
}

.jumbotron {
	background-color: #00b6b9;
	color: #ffffff;
	font-family: 'OpenSans-Regular', Fallback, sans-serif;
	min-height: 100%;
	display:block;
	overflow:auto;
}

.page-header {
	font-family: 'OpenSans-Regular', Fallback, sans-serif;
  border-bottom-style: none;
}

.container {
	max-width: 1024px;
	text-align: center;
}

#screenshotCarousel {
	background-color: #ffffff;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
	color: #00b6b9;
}

.carousel-indicators li {
  background-color: #b5b5b5;
}
.carousel-indicators .active {
  background-color: #00b6b9;
}

.carousel-image {
	padding-top: 20px;
  padding-right: 80px;
  padding-left: 80px;
	margin: auto;
	max-height: 600px;
  /*max-width: 281px;*/
  max-width: 60%;
  display: block;
}

.link {
	color: #ffe93e;
}

.link:hover {
	color: #FFF9CC;
	text-decoration: underline;
}

.carousel-caption {
  display: block;
  text-align: center;
	color: #0b0b0b;
	font-family: 'OpenSans-Regular', Fallback, sans-serif;
	text-shadow: none;
  margin: auto;
  margin-bottom: 10px;
}

.item > .container > .carousel-caption {
	color: #00b6b9;
	font-family: 'OpenSans-Regular', Fallback, sans-serif;
	text-shadow: none;
}

.document {
	color: #fff;
	font-family: 'OpenSans-Regular', Fallback, sans-serif;
	font-weight: lighter;
	margin: 50px 50px 50px 50px;
}

.input-group {
	margin-left: 4%;
}

#password-reset-form {
	margin: 40px auto 60px;
}

#username {
	border-radius: 3px;
}

#new-password {
	border-radius: 3px;
}
#confirm-password {
	border-radius: 3px;
}

#submit-button {
	width: 100%;
	border-radius: 3px;
}

#warning-label {
	width: 100%;
	background-color: #00787a;
}

h1 {
	margin-bottom: 20px;
}

/*html, body {
	height: 100%;
	padding-top: 60px;
}*/

html {
  padding-top: 60px;
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #00787a;
  padding: 40px;
  color: #ffffff;
  font-size: 20px;
  font-family: 'OpenSans-Regular', Fallback, sans-serif;
  vertical-align:middle;
  text-align: center;
}

.footer-emphasis {
  font-size: 30px;
}
